.wrapper {
  width: 300px;
  height: 300px;
  position: relative;
}
.main_container {
  display: flex;
  align-items: flex-start;
  gap: 36px;
}
.row_container {
  width: 300px;
  height: 100px;
  display: flex;
}
.winnerGreeting {
  color: rgb(8, 109, 8);
}
